div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}

.customPadding {
  padding: 2px 2px 0px 0px;
}

.customButtonSport {
  --background: #fff !important;
  // border-radius: 11px;
  // border: 1px solid #00000040;
  color: #0d0439;
  font-weight: bolder;
}
.customButtonSport:focus {
  --background: #fff !important;
  // border-radius: 11px;
  // border: 1px solid #00000040;
  color: #0d0439;
  font-weight: bolder;
}
